.card{
    background-color: #ffffff;
    padding: 20px;
}

.card__img-top{
    width: 288px;
    height: 182px;
    margin-bottom: 30px;
}

.card__title{
    font-size: 14px;
    color: #282828;
}

.card__description{
    font-size: 12px;
    color: #282828;
}

body{
    background-color: #C4C4C4;
}

header{
    background-color: #ffffff;
}

footer{
    background-color: #ffffff;
}